@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all);

body,h1,h2,h3,h4,h5,h6{
    font-family:"Open Sans",sans-serif;
}
body{
    font-size: 14px;
    color: #333;
}
.headerElement{
    text-align: center;
    padding-bottom: 10px;
}

.header p{
    margin: 0px;
}

/*table{
    border: 1px solid #000;
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
    margin-bottom: 10px;
}*/

/*th, td{
    border: 1px solid #000;
    padding: 5px;
}*/

td.text-right{
    text-align: right;
}
.text-right{
    text-align: right;
}
th.text-left{
    text-align: left;
}

h1.report-name{
    font-size: 15px;
    text-align: center;
    text-decoration: underline;
}

.report-footer{
    margin-top: 25px;
}

.prepared-by{
    width: 100px;
    border-top: 1px solid #000;
}

td.sub-item{
    padding-left: 20px;
}

td.text-center{
    text-align: center;
}

/*table.no-border tr th,table.no-border tr td, td.no-border{
    border: 0;
}*/

.has-top-border{
    border-top: 1px solid #000;
    display: inline;
    padding:0 20px;
}

.confidential{
    color: darkgrey;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

.header{
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}

.margin-bottom-75{
    margin-bottom: 75px;
}

.text-center{
    text-align:center;
}

/*.table2 th, .table2 td { 
    border: none !important;
}*/

.report-title{
    max-width: 700px;
}
/*start details information of recruit style*/
.border-style-r{
    border-bottom: 1px solid #000 !important;
    margin-left: 42% !important;
    margin-right: 42% !important;
} 

.border-style-r1{
    border-bottom: 1px solid #000 !important;
    margin-right: 50% !important;
}
.border-style-r2 {
    border-bottom: 1px solid #000 !important;
    margin-right: 34% !important;
}
.border-style-r3{
    border-bottom: 1px solid #000 !important;
    margin-left: 40% !important;
    margin-right: 40% !important;
} 
.border-style-r4 {
    text-align: right;
}
.margin-left-r{
    margin-left: 32px !important;
}
.font-normal-r{
    font-weight: normal !important;
}
.uppercase-r{
    text-transform: uppercase !important;
}

/*table*/
a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important;
}
div {
    display: block;
}
.table {
    width: 100%;
    margin-bottom: 20px;
}

.img-responsive, .img-thumbnail, .table, label {
    max-width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #c3c3c3;
}
.table td, .table th {
    font-size: 14px;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #c3c3c3;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.table thead tr th {
    font-size: 14px;
    font-weight: 600;
}
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #c3c3c3;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #c3c3c3;
}
.table-responsive {
    overflow-x: auto;
    min-height: .01%;
}
.table thead tr th {
    font-size: 14px;
    font-weight: 600;
}
table.borderless td,table.borderless th{
    border: none !important;
}
.no-border{
    border: none !important;
    padding: 0 !important;
}

@media (min-width: 992px){
    .col-md-2 {
        width: 16.66667%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33333%;
    }
    .col-md-8 {
        width: 66.66667%;
    }

    .col-md-10 {
        width: 83.33333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-offset-8 {
        margin-left: 66.66667%;
    }

}

@media (min-width: 992px){
    .col-md-10,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-6,.col-md-7,.col-md-8,.col-md-9{
        float: left;
    }
}
.col-md-10,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-6,.col-md-7,.col-md-8,.col-md-9{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}



.row {
    margin-left: -15px;
    margin-right: -15px;
}
.margin-bottom-20 {
    margin-bottom: 20px!important;
}
.margin-bottom-25 {
    margin-bottom: 25px!important;
}
.margin-top-30 {
    margin-top: 30px!important;
}
.margin-bottom-10 {
    margin-bottom: 10px!important;
}
.margin-top-20 {
    margin-top: 20px!important;
}
.margin-top-75 {
    margin-top: 75px!important;
}
.margin-top-200 {
    margin-top: 200px!important;
}
.margin-top-10 {
    margin-top: 10px!important;
}
.vcenter {
    vertical-align: middle !important;
    float: none;
}
.bold {
    font-weight: 700!important;
}


.text-left {
    text-align: left;
}
.fileinput {
    display: inline-block;
    margin-bottom: 9px;
}
.fileinput .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
.thumbnail {
    padding: 4px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.fileinput .thumbnail > img {
    max-height: 100%;
}
.thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
img {
    vertical-align: middle;
}
/*end details information of recruit style*/
/*START COURSE REPORT STYLE*/
.signal-center-style{
    font-size: 25px;
    font-weight: bold;

}
.duration-style{
    font-size: 18px;
    font-weight: bold;
    padding: 16px;

}
.signal-font-title{
    font-size: 18px;
    border-bottom: 1px solid #000 !important;
    /*    margin-left: 42% !important;
        margin-right: 42% !important;*/
}

.w-41{
    width: 41%;
}
.w-59{
    width: 59%;
}
.w-30{
    width: 30%;
}
.w-20{
    width: 20%;
}
.w-2{
    width: 2%;
}
.w-10{
    width: 10%;
}
.w-35{
    width: 35%;
}

.bg-font-red {
    color: #fff!important;
}
.bg-red {
    background: #e7505a!important;
    /*background: #2F353B!important;*/
}
.bg-font-white {
    color: #666!important;
}
.bg-white {
    background: #fff!important;
}
.standard-border-style{
    border: 1px solid #e1e5ec!important;
    padding: 10px 5px;
}
.standard-border-bottom{
    border-bottom: 1px solid #000 !important;
}
.standard-margin-left{
    margin-left: 25%;
}
.char-value-style {
    border: 1px solid #333 !important;
    padding: 2px 6px !important;
}
.border-top-style {
    border-top: 1px solid #000 !important;
}
.header-course-report{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}

/*END COURSE REPORT STYLE*/
.margin-left-5{
    margin-left: 5px!important;
}
.font-size-11{
    font-size: 11px!important;
}
.footer-color{
    color: #cfa2b2;
}
.border-top-signature{
    border-top: 1px solid #000;
}
.pi-border-style{
    border-bottom: 1px solid #666;
}


/*new*/
/*div.header {
    display: block; text-align: center; 
    position: running(header);
}
div.footer {
    display: block; text-align: center;
    position: running(footer);
}
@page {
    @top-center { content: element(header) }
}
@page { 
    @bottom-center { content: element(footer) }
}*/

.custom-footer-page-number:after {
    content: counter(page);
}
.margin-left-30{
    margin-left: 30px;
}
.margin-right-30{
    margin-right: 30px;
}
.font-size-14{
    font-size: 14px!important;
}

.v-top{
    vertical-align: top!important;
}

.remarks p{
    margin-bottom: -8px;
}
.uppercase{
    text-transform: uppercase !important;
}
.capitalize{
    text-transform: capitalize !important;
}
.padding-5{
    padding: 5px !important;
}
.cursor-default{
    cursor: default !important;
}

/* Circle Buttons */
.btn-circle {
    border-radius: 25px !important;
    overflow: hidden; 
}

/* Btn red soft */
.btn.red-soft:not(.btn-outline) {
    color: #ffffff;
    background-color: #d05454;
    border-color: #d05454; 
}
.btn.red-soft:not(.btn-outline):focus, .btn.red-soft:not(.btn-outline).focus {
    color: #ffffff;
    background-color: #bd3434;
    border-color: #812323; 
}
.btn.red-soft:not(.btn-outline):hover {
    color: #ffffff;
    background-color: #bd3434;
    border-color: #b53232; 
}
.btn.red-soft:not(.btn-outline):active, .btn.red-soft:not(.btn-outline).active,
.open > .btn.red-soft:not(.btn-outline).dropdown-toggle {
    color: #ffffff;
    background-color: #bd3434;
    border-color: #b53232; 
}
.btn.red-soft:not(.btn-outline):active:hover
, .btn.red-soft:not(.btn-outline):active:focus
, .btn.red-soft:not(.btn-outline):active.focus
, .btn.red-soft:not(.btn-outline).active:hover
, .btn.red-soft:not(.btn-outline).active:focus
, .btn.red-soft:not(.btn-outline).active.focus,
.open > .btn.red-soft:not(.btn-outline).dropdown-toggle:hover,
.open > .btn.red-soft:not(.btn-outline).dropdown-toggle:focus,
.open > .btn.red-soft:not(.btn-outline).dropdown-toggle.focus {
    color: #ffffff;
    background-color: #a12c2c;
    border-color: #812323; 
}
.btn.red-soft:not(.btn-outline):active, .btn.red-soft:not(.btn-outline).active,
.open > .btn.red-soft:not(.btn-outline).dropdown-toggle {
    background-image: none; 
}
.btn.red-soft:not(.btn-outline).disabled:hover
, .btn.red-soft:not(.btn-outline).disabled:focus
, .btn.red-soft:not(.btn-outline).disabled.focus
, .btn.red-soft:not(.btn-outline)[disabled]:hover
, .btn.red-soft:not(.btn-outline)[disabled]:focus
, .btn.red-soft:not(.btn-outline)[disabled].focus,
fieldset[disabled] .btn.red-soft:not(.btn-outline):hover,
fieldset[disabled] .btn.red-soft:not(.btn-outline):focus,
fieldset[disabled] .btn.red-soft:not(.btn-outline).focus {
    background-color: #d05454;
    border-color: #d05454; 
}
.btn.red-soft:not(.btn-outline) .badge {
    color: #d05454;
    background-color: #ffffff; 
}

.btn.btn-outline.red-soft {
    border-color: #d05454;
    color: #d05454;
    background: none; 
}
.btn.btn-outline.red-soft:hover, .btn.btn-outline.red-soft:active
, .btn.btn-outline.red-soft:active:hover, .btn.btn-outline.red-soft:active:focus
, .btn.btn-outline.red-soft:focus, .btn.btn-outline.red-soft.active {
    border-color: #d05454;
    color: #ffffff;
    background-color: #d05454; 
}

.btn.red-soft-stripe {
    border-left: 4px solid #d05454 !important; 
}

.btn.red-soft.btn-no-border:not(.active) {
    border-color: transparent; 
}


/* Btn red soft */